body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #1e1e1e;
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 10px #000;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background: #5c6bc0;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #4651a3;
}

.erro {
    margin-top: 15px;
    color: #ff5252;
}
